.main-menu
	.main-cont
		.main-menu-wraper
			a(href="#").main-menu-el.main-menu-el__active Главная
			a(href="#").main-menu-el Каталог
			a(href="#").main-menu-el Рецепты
			a(href="#").main-menu-el Доставка
			a(href="#").main-menu-el Поставщики
			a(href="#").main-menu-el Контакты