.footer
	.main-cont
		.footer-wrap
			.footer-link
				a(href="#").footer-link-el Главная
				a(href="#").footer-link-el Каталог
				a(href="#").footer-link-el Рецепты
				a(href="#").footer-link-el Доставка
				a(href="#").footer-link-el Поставщики
				a(href="#").footer-link-el Контакты
			.footer-logo
				.footer-logo-text SuperVegan
				.footer-logo-soc
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-twitter
			.footer-info
				.footer-info-el Москва
				.footer-info-el Время работы:
				.footer-info-el с 10:00 до 22:00
				.footer-info-el ежедневно
				.footer-info-el +7 926-233-62-35